header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    justify-content: space-between;
}

header div {
    font-size: 25px;
    font-weight: 700;
}

header a {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.logo_img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
