footer {
    width: 100%;
    display: flex;
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-top: auto;
    margin-bottom: 0;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}
