@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-wrap: break-word;
}

:root {
  background-color: #F5F5F5;
  color: #333333;
  a {
    color: #333333;
  }
}

/* Темная тема (через data-theme) */
[data-theme="dark"] {
  background-color: #1E1E1E;
  color: #E0E0E0;
  a {
    color: #E0E0E0;
  }
  header{
    border-color: #E0E0E0;
  }

  .article {
    border-color: #E0E0E0;
  }
  .search{
    color: #E0E0E0;
    border-color: #E0E0E0;
  }
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* @media (prefers-color-scheme: dark) {
  * {
    color: #E0E0E0;
    background-color: #1E1E1E;
  }
} */