@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: break-word;
}

:root {
    background-color: #f5f5f5;
    color: #333333;
    a {
        color: #333333;
    }
}

/* Темная тема (через data-theme) */
[data-theme="dark"] {
    background-color: #1e1e1e;
    color: #e0e0e0;
    a {
        color: #e0e0e0;
    }
    header {
        border-color: #e0e0e0;
    }
    footer {
        border-color: #e0e0e0;
    }
    .article {
        border-color: #e0e0e0;
    }
    .search {
        color: #e0e0e0;
        border-color: #e0e0e0;
    }
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

h1 {
    font-size: 25px;
    font-weight: 600;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 400;
}
